<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="content-box2">
                    {{section.settings.img_content }}
                </div>
            </div>
            <div class="col-xl-6 mt-30 mt-xl-0 wow fadeInRight" data-wow-delay="0.2s">
                <div class="ms-xxl-4 ps-xl-2">
                    <div class="rounded-10">
                        <img class="w-100" src="{{section.settings.first_img | img_url: '1920x' }}" alt="{{section.settings.first_img.alt }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-35 wow fadeInUp" data-wow-delay="0.2s">
            <p class="fs-40 mb-4">{{section.settings.under_content }}</p>
            <a href="{{section.settings.under_link }}" class="ot-btn btn-full">buy now</a>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Button with Content",
      "settings": [        
        {
            "type": "image_picker",
            "id": "first_img",
            "label": "Image"
        },
        {
          "type": "textarea",
          "id": "img_content",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "under_content",
          "label": "Under Content"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Buy Now Button"
        },
        {
          "type": "url",
          "id": "under_link",
          "label": "Buy Now"
        }
        
      ],
      "presets": [
        {
          "name": "Button with Content",
          "category": "our story"
  
        }
      ]
  
    }
{% endschema %}