<section class="space bg-theme">
    <div class="container">
        <h3 class="sec-title text-white mb-35 text-center">Contact US</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-md-10">
                {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" placeholder="Full Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Your Email"
                                    class="form-control">
                                    <input
                                        autocomplete="email"
                                        type="email"
                                        id="ContactForm-email"
                                        class="field__input"
                                        name="contact[email]"
                                        spellcheck="false"
                                        autocapitalize="off"
                                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                        aria-required="true"
                                        {% if form.errors contains 'email' %}
                                        aria-invalid="true"
                                        aria-describedby="ContactForm-email-error"
                                        {% endif %}
                                        placeholder="{{ 'templates.contact.form.email' | t }}"
                                    >
                            </div>
                            {%- if form.errors contains 'email' -%}
                                <small class="contact__field-error" id="ContactForm-email-error">
                                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                <span class="form__message">
                                    {%- render 'icon-error' -%}
                                    {{- form.errors.translated_fields.email | capitalize }}
                                    {{ form.errors.messages.email -}}
                                </span>
                                </small>
                            {%- endif -%}
                        </div>
                        <div class="col-12">
                            <div class="form-group">                                
                                <textarea
                                id="ContactForm-body"
                                class="form-control style2"
                                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                                placeholder="Your Message"
                                >
                                {{- form.body -}}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button type="submit" class="ot-btn style3 btn-full">
                            Submit
                        </button>
                    </div>
                {%- endform -%}
            </div>
        </div>
    </div>
</section>