<section class="space-top">
    <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
            <h2 class="sec-title mb-45">{{section.settings.main_heading }}</h2>
            <p class="fs-30 mb-30">{{section.settings.sub_heading }}</p>
            <p class="fs-30 mb-30"><b>{{section.settings.sub_heading }}</b></p>
        </div>
        <div class="content-box3">
            <p class="fs-40 mb-0">{{section.settings.sub_heading }} <b><a
                        href="mailto:{{section.settings.desc_btn }}">{{section.settings.sub_heading }}</a></b></p>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Customer Service Text",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "sub_heading",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Delivery Text"
        },
        {
          "type": "textarea",
          "id": "desc_heading_two",
          "label": "Email Text"
        },
        {
          "type": "text",
          "id": "desc_btn",
          "label": "Email"
        }
        
      ],
      "presets": [
      {
        "name": "Customer Service Text",
        "category":"customer"
        
      }
    ]
    }
{% endschema %}