<section class="space overflow-hidden">
    <div class="container">
        <h3 class="sec-title text-center wow fadeInUp" data-wow-delay="0.2s">{{section.settings.heading }}</h3>
        <div class="splide wow fadeInUp" data-wow-delay="0.2s" id="review-slider">
            <div class="splide__track">
                <div class="splide__list">

                  {% for block in section.blocks %}
                    <div class="splide__slide">
                      <div class="testi-box">
                        <div class="testi-box_img">
                          <div class="img">
                            <img
                              class="w-100"
                              src="{{ block.settings.img_one | img_url: '1920x' }}"
                              alt="{{block.settings.img_one.alt }}">
                            <span class="text">{{ block.settings.heading_one }}</span>
                          </div>
                          <div class="img">
                            <img
                              class="w-100"
                              src="{{ block.settings.img_two | img_url: '1920x' }}"
                              alt="{{block.settings.img_two.alt }}">
                            <span class="text">{{ block.settings.heading_two }}</span>
                          </div>
                        </div>
                        <div class="madia-body">
                          <p class="testi-box_text">{{ block.settings.author_description }}</p>
                          <h3 class="testi-box_name">{{ block.settings.author_name }}</h3>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>