<div class="space-top">
        <div class="container">
            <h2 class="sec-title text-center">{{section.settings.heading }}</h2>
            <div class="nav faq-tab" id="faqTab" role="tablist">
                {% for block in section.blocks %}
                <a class="nav-link ot-btn {% if forloop.index == 1 %}active{% endif %}" id="official-tab-{{forloop.index}}" data-bs-toggle="tab" href="#official-{{forloop.index}}" role="tab" aria-controls="official" aria-selected="true">{{ block.settings.tab_title }}</a>
                {% endfor %}                

            </div>
            <div class="tab-content" id="faqTabContent">
                {% for block in section.blocks %}
                <div class="tab-pane fade {% if forloop.index == 1 %}show active{% endif %}" id="official-{{forloop.index}}" role="tabpanel" aria-labelledby="official-tab-{{forloop.index}}">
                    <h5 class="border-title">Contents of my Derma Relief Cream</h5>

                    <div class="accordion-area accordion" id="faqAccordion">

                    {% for block in section.blocks %}
                        <div class="accordion-card {% if forloop.index == 1 %}active{% endif %}">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">{{ block.settings.faq_heading }}</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">{{ block.settings.faq_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                        
                    </div>
                    <h5 class="border-title">Contents of my Derma Relief Cream</h5>

                    <div class="accordion-area accordion" id="faqAccordion">
                    {% for block in section.blocks %}
                        <div class="accordion-card {% if forloop.index == 1 %}active{% endif %}">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">{{ block.settings.faq_heading }}</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">{{ block.settings.faq_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div><!-- This section is for second faq page may be shipping related faq -->
    <!-- This section is for second faq page may be shipping related faq -->
    <!-- This section is for second faq page may be shipping related faq -->
    <div class="mt-35">
        <div class="container">
            <div class="contact-notice">
                <p class="fs-40">
                     {{section.settings.heading }} <br>
                    <a href="mailto:{{section.settings.under_email }}">{{section.settings.heading }}!</a>
                </p>
            </div>
        </div>
    </div>

{% schema %}
{
    "name": "FAQ Tab",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "text",
        "id": "under_text",
        "label": "Under Text"
    },
    {
        "type": "text",
        "id": "under_email",
        "label": "Under Email"
    }
    ],
    "blocks": [
    {
        "type": "faq",
        "name": "faq",
        "settings": [
        {
            "type": "text",
            "id": "tab_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "faq_heading",
            "label": "Heading"
        },
        {
            "type": "textarea",
            "id": "faq_description",
            "label": "Description"
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "FAQ Tab",
        "category": "faq"
    }
    ]
}
{% endschema %}