{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer-wrapper ">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-auto wow fadeInUp" data-wow-delay="0.1s">
                        <div class="widget footer-widget">
                            <div class="footer-logo">
                              <a href="{{ routes.root_url }}"><img src="{{ section.settings.footer_logo | img_url: '1920x'}}" alt="{{ shop.name }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto col-sm-7 me-auto wow fadeInUp" data-wow-delay="0.2s">
                        <div class="widget footer-widget widget_nav_menu">
                            <div class="all-menu">
                                <ul class="menu">
                                  {% for link in linklists[section.settings.footer_linklist].links %}
                                      <li><a href="{{link.url}}">{{ link.title}}</li>
                                  {% endfor %}
                                </ul>
                                <ul class="menu">
                                  {% for link in linklists[section.settings.footer_linklist_two].links %}
                                    <li><a href="{{link.url}}">{{ link.title}}</li>
                                  {% endfor %}
                                </ul>
                                <ul class="menu d-none d-lg-block">
                                  {% for link in linklists[section.settings.footer_linklist_three].links %}
                                    <li><a href="{{link.url}}">{{ link.title}}</li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto col-sm-5 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="widget footer-widget">
                            <div class="social-links">
                                <a href="{{ section.settings.youtube_text}}">
                                    <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.5781 2.1856C19.4643 1.76279 19.2414 1.37729 18.9318 1.06768C18.6222 0.758072 18.2367 0.535212 17.8139 0.421406C16.2568 1.27717e-07 10 0 10 0C10 0 3.74319 1.27717e-07 2.18613 0.421406C1.76333 0.535212 1.37783 0.758072 1.06822 1.06768C0.758609 1.37729 0.535749 1.76279 0.421943 2.1856C0.131206 3.77356 -0.00988125 5.3853 0.000537425 6.99962C-0.00988125 8.61395 0.131206 10.2257 0.421943 11.8137C0.535749 12.2365 0.758609 12.622 1.06822 12.9316C1.37783 13.2412 1.76333 13.464 2.18613 13.5778C3.74319 13.9992 10 13.9992 10 13.9992C10 13.9992 16.2568 13.9992 17.8139 13.5778C18.2367 13.464 18.6222 13.2412 18.9318 12.9316C19.2414 12.622 19.4643 12.2365 19.5781 11.8137C19.8688 10.2257 20.0099 8.61395 19.9995 6.99962C20.0099 5.3853 19.8688 3.77356 19.5781 2.1856ZM8.00011 9.99946V3.99979L13.1927 6.99962L8.00011 9.99946Z" fill="#1D1C1D" />
                                    </svg>
                                    @TheSkinBiomeco.
                                </a>
                                <a href="{{ section.settings.facebook_text}}">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 9.99902C20 4.4767 15.5223 -0.000976562 10 -0.000976562C4.47768 -0.000976562 0 4.4767 0 9.99902C0 14.9901 3.65625 19.1271 8.4375 19.878V12.8905H5.89777V9.99902H8.4375V7.7959C8.4375 5.29009 9.9308 3.90483 12.2147 3.90483C13.3089 3.90483 14.4536 4.10036 14.4536 4.10036V6.56152H13.192C11.9504 6.56152 11.5621 7.33206 11.5621 8.12402V9.99902H14.3353L13.8924 12.8905H11.5625V19.8789C16.3438 19.1285 20 14.9914 20 9.99902Z" fill="#1D1C1D" />
                                    </svg>
                                    @TheSkinBiomeco.
                                </a>
                                <a href="{{ section.settings.twitter_text}}">
                                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 2.80348C19.2512 3.13522 18.4568 3.35287 17.6435 3.44917C18.5002 2.93656 19.1413 2.12995 19.4473 1.17964C18.642 1.65769 17.7608 1.99432 16.8419 2.17493C16.458 1.76545 15.9941 1.43917 15.4789 1.21632C14.9638 0.993467 14.4083 0.878791 13.847 0.879397C11.5811 0.879397 9.74378 2.71621 9.74378 4.98261C9.74378 5.3039 9.78014 5.61739 9.85027 5.9179C6.44001 5.74674 3.41675 4.11304 1.39293 1.63028C1.02803 2.2565 0.836286 2.96853 0.83737 3.69331C0.836832 4.36887 1.00318 5.03411 1.32162 5.6299C1.64007 6.2257 2.10076 6.73361 2.66275 7.1085C2.01127 7.08781 1.37415 6.91186 0.804384 6.59528C0.803865 6.61242 0.803865 6.6293 0.803865 6.64696C0.803865 8.63442 2.2181 10.2928 4.09491 10.6702C3.49058 10.8338 2.85695 10.8578 2.24199 10.7403C2.76405 12.3701 4.27931 13.5568 6.07483 13.5901C4.62136 14.7307 2.82652 15.3494 0.978923 15.3466C0.647767 15.3466 0.321286 15.3274 0 15.2892C1.87612 16.4947 4.05962 17.1345 6.28963 17.1323C13.8369 17.1323 17.964 10.8803 17.964 5.4587C17.964 5.28104 17.9598 5.10365 17.952 4.92729C18.7558 4.34703 19.4493 3.62778 20 2.80348Z" fill="#1D1C1D" />
                                    </svg>
                                    @TheSkinBiomeco.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright-wrap">
                <div class="row gy-2 align-items-center justify-content-between">
                    <div class="col-md-auto wow fadeInUp" data-wow-delay="0.4s">
                        <p class="copyright">© {{ section.settings.copyright_text}}</p>
                    </div>
                    <div class="col-md-auto wow fadeInUp" data-wow-delay="0.5s">
                        <div class="footer-menu">
                            <ul>
                              {% for link in linklists[section.settings.footer_linklist_four].links %}
                                <li><a href="{{link.url}}">{{ link.title}}</li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
  {
      "name" : "Footer",
      "settings" : [       
      {
          "type": "image_picker",
          "id": "footer_logo",
          "label": "Footer Logo"
      },
      {
          "type" : "link_list",
          "id" : "footer",
          "label" : "Menu"
      },
      {
          "type" : "link_list",
          "id" : "main-menu",
          "label" : "Menu Two"
      },
      {
          "type" : "link_list",
          "id" : "footer_linklist_three",
          "label" : "Menu Three"
      },
      {
          "type" : "link_list",
          "id" : "footer_linklist_four",
          "label" : "Menu Four"
      },
      {
          "type" : "text",
          "id" : "copyright_text",
          "label" : "Copy Right Text"
      },
      {
          "type" : "text",
          "id" : "youtube_text",
          "label" : "Youtube"
      },
      {
          "type" : "text",
          "id" : "facebook_text",
          "label" : "Facebook"
      },
      {
          "type" : "text",
          "id" : "twitter_text",
          "label" : "Twitter"
      }       
      ]
  
  }
  {% endschema %}
