<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }


  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<div class="ot-menu-wrapper">
        <div class="ot-menu-area">
            <button class="ot-menu-toggle">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1L1 11M1 1L11 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="The Skin Biomeco"></a>
            </div>
            <div class="menu-scroll">
                <div class="ot-menu-inner">
                    <div class="ot-mobile-menu">
                        <ul>
                          {% for link in linklists[section.settings.main_linklist].links %}
                            <li><a href="{{link.url}}">{{ link.title}}</a></li>
                            <div class="menu-item-hot-children">
                                <a href="#">More</a>
                                {% if linklists[link.handle] != empty %}
                                <ul class="sub-menu">
                                  {% for child_l in linklists[link.handle].links %}
                                    <li>
                                      <a href="{{ child_l.url }}" {% if child_l.active %}class="current"{% endif %}>
                                      {{ child_l.title }}
                                    </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="ot-mobile-menu d-block d-md-none mt-30">
                        <div class="header-menu-button">
                            <div class="dropdown-link">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg class="dark" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.7823 20C16.3053 20 20.7823 15.523 20.7823 10C20.7823 9.537 20.0883 9.46 19.8493 9.857C19.3396 10.7013 18.6444 11.4186 17.8164 11.9545C16.9883 12.4903 16.0492 12.8307 15.0702 12.9499C14.0911 13.0691 13.0978 12.9639 12.1654 12.6423C11.233 12.3207 10.386 11.7911 9.68863 11.0937C8.99122 10.3963 8.46167 9.54933 8.14007 8.61695C7.81848 7.68457 7.71328 6.69123 7.83245 5.71217C7.95161 4.73311 8.29202 3.794 8.82788 2.96599C9.36374 2.13797 10.081 1.44275 10.9253 0.933C11.3223 0.693 11.2453 0 10.7823 0C5.25935 0 0.782349 4.477 0.782349 10C0.782349 15.523 5.25935 20 10.7823 20Z" fill="black" />
                                    </svg>


                                    <svg class="light" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 16C9.61667 16 8.43734 15.5123 7.462 14.537C6.48667 13.5617 5.99934 12.3827 6 11C6 9.61667 6.48767 8.43734 7.463 7.462C8.43834 6.48667 9.61734 5.99934 11 6C12.3833 6 13.5627 6.48767 14.538 7.463C15.5133 8.43834 16.0007 9.61734 16 11C16 12.3833 15.5123 13.5627 14.537 14.538C13.5617 15.5133 12.3827 16.0007 11 16ZM1 12C0.71667 12 0.479003 11.904 0.287003 11.712C0.0950034 11.52 -0.000663206 11.2827 3.46021e-06 11C3.46021e-06 10.7167 0.0960034 10.479 0.288003 10.287C0.480003 10.095 0.717337 9.99934 1 10H3C3.28334 10 3.521 10.096 3.713 10.288C3.905 10.48 4.00067 10.7173 4 11C4 11.2833 3.904 11.521 3.712 11.713C3.52 11.905 3.28267 12.0007 3 12H1ZM19 12C18.7167 12 18.479 11.904 18.287 11.712C18.095 11.52 17.9993 11.2827 18 11C18 10.7167 18.096 10.479 18.288 10.287C18.48 10.095 18.7173 9.99934 19 10H21C21.2833 10 21.521 10.096 21.713 10.288C21.905 10.48 22.0007 10.7173 22 11C22 11.2833 21.904 11.521 21.712 11.713C21.52 11.905 21.2827 12.0007 21 12H19ZM11 4C10.7167 4 10.479 3.904 10.287 3.712C10.095 3.52 9.99934 3.28267 10 3V1C10 0.71667 10.096 0.479003 10.288 0.287003C10.48 0.0950034 10.7173 -0.000663206 11 3.46021e-06C11.2833 3.46021e-06 11.521 0.0960034 11.713 0.288003C11.905 0.480003 12.0007 0.717337 12 1V3C12 3.28334 11.904 3.521 11.712 3.713C11.52 3.905 11.2827 4.00067 11 4ZM11 22C10.7167 22 10.479 21.904 10.287 21.712C10.095 21.52 9.99934 21.2827 10 21V19C10 18.7167 10.096 18.479 10.288 18.287C10.48 18.095 10.7173 17.9993 11 18C11.2833 18 11.521 18.096 11.713 18.288C11.905 18.48 12.0007 18.7173 12 19V21C12 21.2833 11.904 21.521 11.712 21.713C11.52 21.905 11.2827 22.0007 11 22ZM4.65 6.05L3.575 5C3.375 4.81667 3.279 4.58334 3.287 4.3C3.295 4.01667 3.391 3.775 3.575 3.575C3.775 3.375 4.01667 3.275 4.3 3.275C4.58334 3.275 4.81667 3.375 5 3.575L6.05 4.65C6.23334 4.85 6.325 5.08334 6.325 5.35C6.325 5.61667 6.23334 5.85 6.05 6.05C5.86667 6.25 5.63767 6.346 5.363 6.338C5.08834 6.33 4.85067 6.234 4.65 6.05ZM17 18.425L15.95 17.35C15.7667 17.15 15.675 16.9123 15.675 16.637C15.675 16.3617 15.7667 16.1327 15.95 15.95C16.1333 15.75 16.3627 15.6543 16.638 15.663C16.9133 15.6717 17.1507 15.7673 17.35 15.95L18.425 17C18.625 17.1833 18.721 17.4167 18.713 17.7C18.705 17.9833 18.609 18.225 18.425 18.425C18.225 18.625 17.9833 18.725 17.7 18.725C17.4167 18.725 17.1833 18.625 17 18.425ZM15.95 6.05C15.75 5.86667 15.654 5.63767 15.662 5.363C15.67 5.08834 15.766 4.85067 15.95 4.65L17 3.575C17.1833 3.375 17.4167 3.279 17.7 3.287C17.9833 3.295 18.225 3.391 18.425 3.575C18.625 3.775 18.725 4.01667 18.725 4.3C18.725 4.58334 18.625 4.81667 18.425 5L17.35 6.05C17.15 6.23334 16.9167 6.325 16.65 6.325C16.3833 6.325 16.15 6.23334 15.95 6.05ZM3.575 18.425C3.375 18.225 3.275 17.9833 3.275 17.7C3.275 17.4167 3.375 17.1833 3.575 17L4.65 15.95C4.85 15.7667 5.08734 15.675 5.362 15.675C5.63667 15.675 5.866 15.7667 6.05 15.95C6.25 16.1333 6.346 16.3627 6.338 16.638C6.33 16.9133 6.234 17.1507 6.05 17.35L5 18.425C4.81667 18.625 4.58334 18.721 4.3 18.713C4.01667 18.705 3.775 18.609 3.575 18.425Z" fill="black" />
                                    </svg>
                                    <span class="light">Light</span>
                                    <span class="dark">Dark</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                                    <li>
                                        <a class="light-select" href="#">Light</a>
                                        <a class="dark-select" href="#">Dark</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-link language-toggle">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.1695 0H0V14.1695H8.20339V22H22.3729V7.83051H14.1695V0ZM6.16676 3.35593L3.82637 10.0352H5.40678L5.7874 8.94915H8.20339V12.678H1.49153V1.49153H12.678V7.83051H9.57056L8.00297 3.35593H6.16676ZM7.8595 7.45763H6.30999L7.08475 5.24653L7.8595 7.45763ZM20.8814 9.32203V20.5085H9.69491V9.32203H20.8814Z" fill="black" />
                                        <path d="M14.0499 16.0563C14.1925 16.2854 14.3496 16.5052 14.5201 16.7144C13.9795 17.006 13.3654 17.152 12.6781 17.1525V18.6441C13.8033 18.6441 14.8086 18.3454 15.6611 17.7667C16.5136 18.3454 17.5189 18.6441 18.6442 18.6441V17.1525C17.9582 17.1525 17.3442 17.0064 16.8021 16.7141C16.9726 16.505 17.1297 16.2853 17.2723 16.0563C17.7022 15.3574 18.0183 14.5947 18.2089 13.7966H19.017V12.3051H16.4069V11.1864H14.9153V12.3051H12.3052V13.7966H13.1133C13.3039 14.5947 13.62 15.3574 14.0499 16.0563ZM16.6646 13.7966C16.5103 14.3128 16.2894 14.8067 16.0074 15.2658C15.9021 15.435 15.7864 15.5977 15.6611 15.7527C15.5449 15.6091 15.4371 15.4589 15.3381 15.3029C15.0447 14.8336 14.8157 14.327 14.6574 13.7966H16.6646Z" fill="black" />
                                    </svg>
                                    English
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                                    <li>
                                        <a href="#">English</a>
                                        <a href="#">Italian</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="ot-btn style2">Login/ Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    Header Area
==============================-->
    <header class="ot-header ">
        <div class="header-top bg-theme py-2">
            <div class="container">
                <div class="header-mail">
                    Email:
                    <a href="mailto:info@theskinbiomeCo.com">info@theskinbiomeCo.com</a>
                </div>
            </div>
        </div>
        <!--header-top-wrapper end-->
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto d-flex align-items-center">
                            <div class="d-inline-block d-xl-none mr-15">
                                <button type="button" class="simple-icon ot-menu-toggle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16">
                                        <path fill="currentColor" fill-rule="evenodd" d="M14 5H2V3h12v2zm0 4H2V7h12v2zM2 13h12v-2H2v2z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="The Skin Biomeco">
                                </a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <nav class="main-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Our Product</a></li>
                                    <li><a href="about.html">Our Story</a></li>
                                    <li><a href="about.html">Our Science</a></li>
                                    <li class="menu-item-hot-children">
                                        <a href="#">More</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">Hot Sale</a></li>
                                            <li><a href="shop.html">Discount</a></li>
                                            <li><a href="shop.html">50% Off</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-auto">
                            <div class="header-button">
                                <div class="dropdown-link">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg class="dark" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.7823 20C16.3053 20 20.7823 15.523 20.7823 10C20.7823 9.537 20.0883 9.46 19.8493 9.857C19.3396 10.7013 18.6444 11.4186 17.8164 11.9545C16.9883 12.4903 16.0492 12.8307 15.0702 12.9499C14.0911 13.0691 13.0978 12.9639 12.1654 12.6423C11.233 12.3207 10.386 11.7911 9.68863 11.0937C8.99122 10.3963 8.46167 9.54933 8.14007 8.61695C7.81848 7.68457 7.71328 6.69123 7.83245 5.71217C7.95161 4.73311 8.29202 3.794 8.82788 2.96599C9.36374 2.13797 10.081 1.44275 10.9253 0.933C11.3223 0.693 11.2453 0 10.7823 0C5.25935 0 0.782349 4.477 0.782349 10C0.782349 15.523 5.25935 20 10.7823 20Z" fill="black" />
                                        </svg>


                                        <svg class="light" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 16C9.61667 16 8.43734 15.5123 7.462 14.537C6.48667 13.5617 5.99934 12.3827 6 11C6 9.61667 6.48767 8.43734 7.463 7.462C8.43834 6.48667 9.61734 5.99934 11 6C12.3833 6 13.5627 6.48767 14.538 7.463C15.5133 8.43834 16.0007 9.61734 16 11C16 12.3833 15.5123 13.5627 14.537 14.538C13.5617 15.5133 12.3827 16.0007 11 16ZM1 12C0.71667 12 0.479003 11.904 0.287003 11.712C0.0950034 11.52 -0.000663206 11.2827 3.46021e-06 11C3.46021e-06 10.7167 0.0960034 10.479 0.288003 10.287C0.480003 10.095 0.717337 9.99934 1 10H3C3.28334 10 3.521 10.096 3.713 10.288C3.905 10.48 4.00067 10.7173 4 11C4 11.2833 3.904 11.521 3.712 11.713C3.52 11.905 3.28267 12.0007 3 12H1ZM19 12C18.7167 12 18.479 11.904 18.287 11.712C18.095 11.52 17.9993 11.2827 18 11C18 10.7167 18.096 10.479 18.288 10.287C18.48 10.095 18.7173 9.99934 19 10H21C21.2833 10 21.521 10.096 21.713 10.288C21.905 10.48 22.0007 10.7173 22 11C22 11.2833 21.904 11.521 21.712 11.713C21.52 11.905 21.2827 12.0007 21 12H19ZM11 4C10.7167 4 10.479 3.904 10.287 3.712C10.095 3.52 9.99934 3.28267 10 3V1C10 0.71667 10.096 0.479003 10.288 0.287003C10.48 0.0950034 10.7173 -0.000663206 11 3.46021e-06C11.2833 3.46021e-06 11.521 0.0960034 11.713 0.288003C11.905 0.480003 12.0007 0.717337 12 1V3C12 3.28334 11.904 3.521 11.712 3.713C11.52 3.905 11.2827 4.00067 11 4ZM11 22C10.7167 22 10.479 21.904 10.287 21.712C10.095 21.52 9.99934 21.2827 10 21V19C10 18.7167 10.096 18.479 10.288 18.287C10.48 18.095 10.7173 17.9993 11 18C11.2833 18 11.521 18.096 11.713 18.288C11.905 18.48 12.0007 18.7173 12 19V21C12 21.2833 11.904 21.521 11.712 21.713C11.52 21.905 11.2827 22.0007 11 22ZM4.65 6.05L3.575 5C3.375 4.81667 3.279 4.58334 3.287 4.3C3.295 4.01667 3.391 3.775 3.575 3.575C3.775 3.375 4.01667 3.275 4.3 3.275C4.58334 3.275 4.81667 3.375 5 3.575L6.05 4.65C6.23334 4.85 6.325 5.08334 6.325 5.35C6.325 5.61667 6.23334 5.85 6.05 6.05C5.86667 6.25 5.63767 6.346 5.363 6.338C5.08834 6.33 4.85067 6.234 4.65 6.05ZM17 18.425L15.95 17.35C15.7667 17.15 15.675 16.9123 15.675 16.637C15.675 16.3617 15.7667 16.1327 15.95 15.95C16.1333 15.75 16.3627 15.6543 16.638 15.663C16.9133 15.6717 17.1507 15.7673 17.35 15.95L18.425 17C18.625 17.1833 18.721 17.4167 18.713 17.7C18.705 17.9833 18.609 18.225 18.425 18.425C18.225 18.625 17.9833 18.725 17.7 18.725C17.4167 18.725 17.1833 18.625 17 18.425ZM15.95 6.05C15.75 5.86667 15.654 5.63767 15.662 5.363C15.67 5.08834 15.766 4.85067 15.95 4.65L17 3.575C17.1833 3.375 17.4167 3.279 17.7 3.287C17.9833 3.295 18.225 3.391 18.425 3.575C18.625 3.775 18.725 4.01667 18.725 4.3C18.725 4.58334 18.625 4.81667 18.425 5L17.35 6.05C17.15 6.23334 16.9167 6.325 16.65 6.325C16.3833 6.325 16.15 6.23334 15.95 6.05ZM3.575 18.425C3.375 18.225 3.275 17.9833 3.275 17.7C3.275 17.4167 3.375 17.1833 3.575 17L4.65 15.95C4.85 15.7667 5.08734 15.675 5.362 15.675C5.63667 15.675 5.866 15.7667 6.05 15.95C6.25 16.1333 6.346 16.3627 6.338 16.638C6.33 16.9133 6.234 17.1507 6.05 17.35L5 18.425C4.81667 18.625 4.58334 18.721 4.3 18.713C4.01667 18.705 3.775 18.609 3.575 18.425Z" fill="black" />
                                        </svg>
                                        <span class="light">Light</span>
                                        <span class="dark">Dark</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li>
                                            <a class="light-select" href="#">Light</a>
                                            <a class="dark-select" href="#">Dark</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-link language-toggle">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.1695 0H0V14.1695H8.20339V22H22.3729V7.83051H14.1695V0ZM6.16676 3.35593L3.82637 10.0352H5.40678L5.7874 8.94915H8.20339V12.678H1.49153V1.49153H12.678V7.83051H9.57056L8.00297 3.35593H6.16676ZM7.8595 7.45763H6.30999L7.08475 5.24653L7.8595 7.45763ZM20.8814 9.32203V20.5085H9.69491V9.32203H20.8814Z" fill="black" />
                                            <path d="M14.0499 16.0563C14.1925 16.2854 14.3496 16.5052 14.5201 16.7144C13.9795 17.006 13.3654 17.152 12.6781 17.1525V18.6441C13.8033 18.6441 14.8086 18.3454 15.6611 17.7667C16.5136 18.3454 17.5189 18.6441 18.6442 18.6441V17.1525C17.9582 17.1525 17.3442 17.0064 16.8021 16.7141C16.9726 16.505 17.1297 16.2853 17.2723 16.0563C17.7022 15.3574 18.0183 14.5947 18.2089 13.7966H19.017V12.3051H16.4069V11.1864H14.9153V12.3051H12.3052V13.7966H13.1133C13.3039 14.5947 13.62 15.3574 14.0499 16.0563ZM16.6646 13.7966C16.5103 14.3128 16.2894 14.8067 16.0074 15.2658C15.9021 15.435 15.7864 15.5977 15.6611 15.7527C15.5449 15.6091 15.4371 15.4589 15.3381 15.3029C15.0447 14.8336 14.8157 14.327 14.6574 13.7966H16.6646Z" fill="black" />
                                        </svg>
                                        English
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                        <li>
                                            <a href="#">English</a>
                                            <a href="#">Italian</a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="ot-btn style2">Login/ Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>


{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}


