<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-block d-lg-none">
                    <div class="product-about">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{section.settings.main_heading }}</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.main_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.main_heading }}</h4>
                            <p class="text">{{section.settings.main_heading }}</p>
                        </div>
                    </div>
                </div>
                <div class="product-big-img">
                    <div class="img wow fadeInUp" data-wow-delay="0.2s">
                        <img class="logo-color" src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <div class="d-none d-lg-block">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{section.settings.main_heading }}</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.main_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.main_heading }}</h4>
                            <p class="text">{{section.settings.main_heading }}</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <div class="info-card">
                            <h5 class="info-title">{{section.settings.main_heading }}</h5>
                            <p class="info-text">{{section.settings.main_heading }}</p>
                        </div>
                        <a href="{{section.settings.main_heading }}" class="ot-btn btn-full">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Product Hero",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "size_heading",
          "label": "Size Text"
        },
        {
          "type": "text",
          "id": "desc_heading",
          "label": "Description Heading"
        },
        {
          "type": "textarea",
          "id": "product_desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "use_text",
          "label": "How to Use Heading"
        },
        {
          "type": "text",
          "id": "use_desc",
          "label": "How to Use Content"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Product Hero",
        "category":"product"
        
      }
    ]
    }
  {% endschema %}