<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-block d-lg-none">
                    <div class="product-about">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{section.settings.main_heading }}</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.size_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <div
                              id="Quantity-Form-{{ section.id }}"
                              class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
                              {{ block.shopify_attributes }}
                            >
                              {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                              {% # theme-check-disable %}
                              {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
                              {% # theme-check-enable %}
                              <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                                {{ 'products.product.quantity.label' | t }}
                                <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}">
                                  <span class="loading-overlay hidden">
                                    <span class="loading-overlay__spinner">
                                      <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        class="spinner"
                                        viewBox="0 0 66 66"
                                        xmlns="http://www.w3.org/2000/svg"
                                      >
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                      </svg>
                                    </span>
                                  </span>
                                  <span>({{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}})</span>
                                </span>
                              </label>
                              <quantity-input class="quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                                  </span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input
                                  class="quantity__input"
                                  type="number"
                                  name="quantity"
                                  id="Quantity-{{ section.id }}"
                                  data-cart-quantity="{{ cart_qty }}"
                                  data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                  min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                  {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                                    data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                    max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                                  value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                                  form="{{ product_form_id }}"
                                />
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                                  </span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
                              <div class="quantity__rules caption no-js-hidden">
                                {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.multiples_of'
                                      | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.minimum_of'
                                      | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.maximum_of'
                                      | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                                    -}}
                                  </span>
                                {%- endif -%}
                              </div>
                            </div>
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.desc_heading }}</h4>
                            <p class="text">{{section.settings.product_desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="product-big-img">
                    <div class="img wow fadeInUp" data-wow-delay="0.2s">
                        <img class="logo-color" src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <div class="d-none d-lg-block">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{section.settings.main_heading }}</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.size_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.desc_heading }}</h4>
                            <p class="text">{{section.settings.product_desc }}</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <div class="info-card">
                            <h5 class="info-title">{{section.settings.use_text }}</h5>
                            <p class="info-text">{{section.settings.use_desc }}</p>
                        </div>
                        {% comment %} <a href="{{section.settings.btn_link }}" class="ot-btn btn-full">buy now</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Product Hero",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "size_heading",
          "label": "Size Text"
        },
        {
          "type": "text",
          "id": "desc_heading",
          "label": "Description Heading"
        },
        {
          "type": "textarea",
          "id": "product_desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "use_text",
          "label": "How to Use Heading"
        },
        {
          "type": "textarea",
          "id": "use_desc",
          "label": "How to Use Content"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Product Hero",
        "category":"product"
        
      }
    ]
    }
  {% endschema %}