<div class="">
    <div class="container">
        <h2 class="sec-title text-center">{{section.settings.heading }}</h2>
    </div>
    {% for block in section.blocks %}
    <div class="{% if forloop.index == 1 %}bg-smoke{% endif %} py-5 {% if forloop.index == 3 %}bg-smoke{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="benefit-box">
                        <h2 class="title"><span class="number">{{forloop.index}}</span>{{block.settings.loop_heading }}</h2>
                        <div class="content">
                            {{block.settings.loop_description }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="benefit-img img-right">
                        <img
                      class="w-100"
                      src="{{ block.settings.loop_img | img_url: '1920x' }}"
                      alt="{{block.settings.loop_img.alt }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="bg-smoke2 pt-45 pb-45">
    <div class="container text-center">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
            <h3 class="fs-40 mb-10 text-capitalize">{{section.settings.heading }}</h3>
            <p class="fs-30 mb-0">{{section.settings.heading }} <a class="text-theme fw-bold" href="mailto:{{section.settings.heading }}">{{section.settings.heading }}</a></p>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Product Loop",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "under_heading",
          "label": "Under Heading"
        },
        {
          "type": "text",
          "id": "under_sub_heading",
          "label": "Under Sub Heading"
        },
        {
          "type": "text",
          "id": "under_email",
          "label": "Email"
        }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Review Slider",
          "settings": [
            
            {
              "type": "text",
              "id": "loop_heading",
              "label": "Heading"
            },
           {
              "type": "textarea",
              "id": "loop_description",
              "label": "Description"
            },
            {
              "type": "image_picker",
              "id": "loop_img",
              "label": "Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Product Loop",
          "category": "product"
  
        }
      ]
  
    }
  {% endschema %}