<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<section class="space">
    <div class="container">
      {% for product in collections.all-product.products limit: 1 %}
        <div class="row">
            <div class="col-lg-6">
                <div class="d-block d-lg-none">
                    <div class="product-about">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{ product.title | escape }}</h2>
                            {% comment %} <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                         
                            <span onclick="decreaseCount(event, this)">
                                <img src="{{ 'minus.svg' | asset_url }}" alt="" />
                            </span>
                            <input min="1" type="number" id="quantity"  class="input-num" name="quantity" value="1"/>
                            <span onclick="increaseCount(event, this)">
                                <img src="{{ 'plus.svg' | asset_url }}" alt="" />
                            </span>
                            <input type="submit" value="Add to cart" class="ot-btn" />
                            </form> {% endcomment %}
                            <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          disabled
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id = "ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="ot-btn product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.size_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.desc_heading }}</h4>
                            <p class="text">{{section.settings.product_desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="product-big-img">
                    <div class="img wow fadeInUp" data-wow-delay="0.2s">
                        <img class="logo-color" src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <div class="d-none d-lg-block">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">{{ product.title | escape }}</h2>
                            
                            
                            <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                         
                            <span onclick="decreaseCount(event, this)">
                                <img src="{{ 'minus.svg' | asset_url }}" alt="" />
                            </span>
                            <input min="1" type="number" id="quantity"  class="input-num" name="quantity" value="1"/>
                            <span onclick="increaseCount(event, this)">
                                <img src="{{ 'plus.svg' | asset_url }}" alt="" />
                            </span>
                            
                            </form>
                            <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
                              <div class="product-form__error-message-wrapper" role="alert" hidden>
                                <svg
                                  aria-hidden="true"
                                  focusable="false"
                                  class="icon icon-error"
                                  viewBox="0 0 13 13"
                                >
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                                <span class="product-form__error-message"></span>
                              </div>

                              {%- form 'product',
                                product,
                                id: product_form_id,
                                class: 'form',
                                novalidate: 'novalidate',
                                data-type: 'add-to-cart-form'
                              -%}
                                <input
                                  type="hidden"
                                  name="id"
                                  value="{{ product.selected_or_first_available_variant.id }}"
                                  disabled
                                  class="product-variant-id"
                                >

                                {%- if gift_card_recipient_feature_active -%}
                                  {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
                                {%- endif -%}

                                <div class="product-form__buttons">
                                  {%- liquid
                                    assign check_against_inventory = true
                                    if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
                                      assign check_against_inventory = false
                                    endif
                                    if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                                      assign quantity_rule_soldout = true
                                    endif
                                  -%}
                                  <button
                                    id = "ProductSubmitButton-{{ section_id }}"
                                    type="submit"
                                    name="add"
                                    class="ot-btn product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                                    {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span>
                                      {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                                        {{ 'products.product.sold_out' | t }}
                                      {%- else -%}
                                        {{ 'products.product.add_to_cart' | t }}
                                      {%- endif -%}
                                    </span>
                                    <div class="loading-overlay__spinner hidden">
                                      <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        class="spinner"
                                        viewBox="0 0 66 66"
                                        xmlns="http://www.w3.org/2000/svg"
                                      >
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                      </svg>
                                    </div>
                                  </button>
                                  {%- if show_dynamic_checkout -%}
                                    {{ form | payment_button }}
                                  {%- endif -%}
                                </div>
                              {%- endform -%}
                            </product-form>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>{{section.settings.size_heading }}</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">{{section.settings.desc_heading }}</h4>
                            <p class="text">{{section.settings.product_desc }}</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <div class="info-card">
                            <h5 class="info-title">{{section.settings.use_text }}</h5>
                            <p class="info-text">{{section.settings.use_desc }}</p>
                        </div>
                        {% comment %} <a href="{{section.settings.btn_link }}" class="ot-btn btn-full">buy now</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
      {% endfor %} 
    </div>
</section>

{% schema %}
    {
      "name": "Product Hero",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "size_heading",
          "label": "Size Text"
        },
        {
          "type": "text",
          "id": "desc_heading",
          "label": "Description Heading"
        },
        {
          "type": "textarea",
          "id": "product_desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "use_text",
          "label": "How to Use Heading"
        },
        {
          "type": "textarea",
          "id": "use_desc",
          "label": "How to Use Content"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Product Hero",
        "category":"product"
        
      }
    ]
    }
  {% endschema %}