<section class="space">
    <div class="container">
        <div class="science-box">
            <div class="row align-items-center">
                <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <h2 class="sec-title mb-35">{{section.settings.main_heading }}</h2>
                    <p class="fs-40 mt-n2 mb-30 text-theme fw-bold">{{section.settings.sub_heading }}</p>
                    {{section.settings.size_heading }}
                        <a href="{{section.settings.size_heading }}" class="ot-btn btn-full">Buy Now</a>
                    </div>

                </div>
                <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="rounded-10">
                        <img class="w-100" src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                    </div>
                    <div class="d-block d-xl-none mt-30">
                        {{section.settings.desc_heading }}
                        <a href="{{section.settings.size_heading }}" class="ot-btn btn-full">Buy Now</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% schema %}
    {
      "name": "Science Text with Image",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "desc_btn",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Science Text with Image",
        "category":"science"
        
      }
    ]
    }
{% endschema %}