<section class="overflow-hidden space-top">
    <h2 class="sec-title text-center wow fadeInUp" data-wow-delay="0.2s">{{section.settings.heading }}</h2>
    <div class="bg-smoke space-extra">
        <div class="container">
            <div class="testi-card-area">
                <div class="splide slider-shadow" id="review-slider2">
                    <div class="splide__track">
                        <div class="splide__list">
                            {% for block in section.blocks %}
                            <div class="splide__slide">
                                <div class="testi-card">
                                    <div class="testi-card_img">
                                        <img src="{{ block.settings.testimonial_img | img_url: '1920x' }}" alt="{{block.settings.testimonial_img.alt }}">
                                    </div>
                                    <div class="madia-body">
                                        <h3 class="testi-card_title">{{ block.settings.author_heading }}</h3>
                                        {{ block.settings.author_description }}
                                        <h3 class="testi-card_name">{{ block.settings.author_name }}</h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% schema %}
    {
      "name": "Testimonial Slider",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Testimonial Slider",
          "settings": [
            {
              "type": "image_picker",
              "id": "testimonial_img",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "author_heading",
              "label": "Heading"
            },
            {
              "type": "textarea",
              "id": "author_description",
              "label": "Description"
            }, {
              "type": "textarea",
              "id": "author_name",
              "label": "Name"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Testimonial Slider",
          "category": "testimonial"
  
        }
      ]
  
    }
  {% endschema %}