<div class="mb-4">
        <div class="container">
            <div class="accordion-area accordion" id="scienceAccordian">
<div class="accordion-card style2">
    <div class="accordion-header" id="collapse-item-3">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3"
            aria-expanded="true" aria-controls="collapse-3">{{section.settings.main_heading }}</button>
    </div>
    <div id="collapse-3" class="accordion-collapse collapse show" aria-labelledby="collapse-item-3"
        data-bs-parent="#scienceAccordian">
        <div class="accordion-body">
            <p class="fs-30 mb-30">{{section.settings.desc_heading }}</p>
            <div class="faq-img1">
                <h5 class="fs-30">{{section.settings.sub_heading }}</h5>
                <div class="info-wrap">
                    <span class="fs-30">{{section.settings.left_heading }}</span>
                    <span class="fs-30">{{section.settings.right_heading }}</span>
                </div>
                <div class="img">
                    <img src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                </div>
                <h5 class="mt-10 fs-30 mb-0">{{section.settings.image_under_heading }}</h5>
            </div>
            <p class="mt-20 fs-30 mb-0">{{section.settings.image_under_desc }}</p>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% schema %}
    {
      "name": "Under text with image",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },        
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
          "type": "text",
          "id": "left_heading",
          "label": "Image Top Left Heading"
        },
        {
          "type": "text",
          "id": "right_heading",
          "label": "Image Top Right Heading"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_under_heading",
          "label": "Image Under Heading"
        },
        {
          "type": "textarea",
          "id": "image_under_desc",
          "label": "Image Under Content"
        }
      ],
      "presets": [
      {
        "name": "Under text with image",
        "category":"science"
        
      }
    ]
    }
{% endschema %}